<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Business Template</title>
    <link rel="stylesheet" href="/static/css/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/responsive.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>

<div class="row">
    <div class="large-4 medium-4 small-12 columns">
        <div id="logo"><a href="/"><img src="/static/media/img/for_pages/logo.png" alt="Conmpany Name"></a>
        </div>
    </div>
    <div class="large-8 medium-8 small-12 columns">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name"></li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="/">Домой</a></li>
                    <li><a href="/about_us">О нас</a></li>
                    <li class="active"><a href="/ask">Вопросы</a></li>
                </ul>
                </li>
                </ul>
            </section>
        </nav>
    </div>
</div>


<div class="inner-banner">
    <img src="/static/media/img/for_pages/about-banner.jpg" alt="About Us"></div>

<div class="content-sec inner-sec">
    <div class="row">
        <div class="large-12 columns">
            <h2>ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</h2>
        </div>
        <div class="clearfix"></div>
        <div class="large-6 medium-6 small-12 columns faq">
            <h3>В какие дни проходят занятия?</h3>
            <p>Для каждой группы время занятий индивидуально. Расписание составялется исходя из предпочтений учеников и
                преподавателя.</p>
        </div>

        <div class="large-6 medium-6 small-12 columns faq">
            <h3>Какое оборудование понадобится для занятий?</h3>
            <p>Так как занятия проходят онлайн, то все что вам потребуется, это компьютер и хороший микрофон для
                общения с преподавателем.</p>
        </div>
        <div class="clearfix"></div>

        <div class="large-6 medium-6 small-12 columns faq">
            <h3>Что делать, если ребёнок пропустил занятие?</h3>
            <p>После каждого занятия мы присылаем на почту конспект материалов пройденного урока, по которому ваш
                ребенок сможет самостоятельно заниматься дома. Однако деньги за пропущенное занятие не возвращаются.</p>
        </div>

        <div class="large-6 medium-6 small-12 columns faq">
            <h3>С какого возраста можно записать ребенка на курсы?</h3>
            <p>В школе «StudyCode» обучаются дети в возрасте от 10 лет. Если же ваш ребенок младше данного возраста, но
                очень хочет учиться, то можем пересмотреть данное правило :)</p>
        </div>

        <div class="clearfix"></div>
        <div class="large-6 medium-6 small-12 columns faq">
            <h3>Сколько длится курс?</h3>
            <p>Четких временных рамок у нас нет. Каждая группа идет в своем темпе. Примерная продолжительность 8-9
                месяцев.</p>
        </div>

        <div class="large-6 medium-6 small-12 columns faq">
            <h3>Сколько человек занимается в одной группе?</h3>
            <p>В одной группе обучаются по 2 человека — это оптимальное количество для эффективной работы. Однако, по
                желанию учеников, количество может быть увеличено.</p>
        </div>
    </div>
</div>


<div class="footer-sec">
    <div class="row">

        <div class="large-2 medium-3 small-12 columns">
            <div class="foot-1">
                <div class="social">
                    <div class="facebook"><a href="#" class="facebook"></a></div>
                    <div class="twitter"><a href="#" class="twitter"></a></div>
                    <div class="gplus"><a href="#" class="gplus"></a></div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script type="text/javascript" src="/static/js/all.js"></script>


</body>
</html>
