<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Business Template</title>
    <link rel="stylesheet" href="/static/css/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/responsive.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>

<div class="row">
    <div class="large-4 medium-4 small-12 columns">
        <div id="logo"><a href="/"><img src="/static/media/img/for_pages/logo.png" alt="Conmpany Name"></a>
        </div>
    </div>
    <div class="large-8 medium-8 small-12 columns">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name"></li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="/">Домой</a></li>
                    <li class="active"><a href="/about_us">О нас</a></li>
                    <li><a href="/ask">Вопросы</a></li>
                </ul>
                </li>
                </ul>
            </section>
        </nav>
    </div>
</div>


<div class="inner-banner">
    <img src="/static/media/img/for_pages/about-banner.jpg" alt="About Us"></div>

<div class="content-sec inner-sec">
    <div class="row">
        <div class="large-5 medium-5 small-12 columns">
            <div class="timeline-img">
                <img src="/static/media/img/for_pages/service2.jpg" alt="">
            </div>
        </div>
        <div class="large-7 medium-7 small-12 columns">
            <h2>Создание сайтов</h2>
            <p>Курс будет интересен всем, кто хочет научиться создавать свои сайты с нуля. Ребята будут писать код в
                профессиональной среде разработки (WebStorm), поймут, как устроены сайты, получат необходимые навыки для
                самостоятельной работы.
            </p>
            <p>Курс проходит в два этапа.</p>
            <p>
                На первом этапе дети будут изучать язык гипертекстовой разметки (HTML), каскадные таблицы стилей
                (CSS) и начнут изучать самый востребованный язык программирования JavaScript.
            </p>
            <p>
                На втором этапе ученики продолжат более углубленно изучать JavaScript в связке с фреймворком jQuery,
                научатся создавать сервер для своего сайта, работать с базой данных, а так же узнают как разместить сайт
                в сети.
            </p>
            <p>Задачи курса:<br>
                - Познакомить с HTML, CSS и JavaScript
                <br>
                - Помочь написать первые программы
                <br>
                - Дать базовые навыки разработки сайтов
                <br>
                - Обучить основам веб-дизайна
                <br>
                - Научить применять фреймворки при разработке
            </p>
        </div>


    </div>
</div>


<div class="footer-sec">
    <div class="row">

        <div class="large-2 medium-3 small-12 columns">
            <div class="foot-1">
                <div class="social">
                    <div class="facebook"><a href="#" class="facebook"></a></div>
                    <div class="twitter"><a href="#" class="twitter"></a></div>
                    <div class="gplus"><a href="#" class="gplus"></a></div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script type="text/javascript" src="/static/js/all.js"></script>


</body>
</html>
